.bookmarksListWrap {
}

.bookmarksListWrap > a:first-of-type {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.bookmarksListWrap > a:last-of-type {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
