html, body {
    padding: 0;
    margin: 0;
    background-color: #fcfcfc;
    font-family: 'Arial';
}


#main {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 52px 1fr;
    grid-gap: 23px;
}


#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #fafafa;
    border-bottom: 2px solid #e7e7e7;
    color: #8a8a8a;
    box-shadow: 1px 1px 8px 2px #e9e9e9;
}

#nav-header {
    margin: 0 16px;
    color: #222;
    cursor: pointer;
}

#nav-header h1 {
    padding: 0;
    margin: 0;
    font-size: 38px;
}


.nav-tags {
    font-size: 18px;
}

.nav-tags ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-tags li {
    padding: 4px 7px;
    margin: 0 6px;
    float: left;
    cursor: pointer;
}


.active {
    color: #222;
    border-bottom: 2px solid #222;
}

.nav-tags li:hover {
    color: #222;
}


#nav-user {
    position: absolute;
    right: 0;
    width: 104px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #222;
    cursor: pointer;
}

#nav-user ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#nav-user li {
    float: left;
    padding: 6px 7px;
}

#nav-user li:hover {
    background-color: #222;
    color: #fafafa;
}

#user-settings {
    height: calc(100vh - 56px);
    width: 22em;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #fafafa;
    border: 2px solid #e7e7e7;
    border-radius: 6px;
    box-shadow: -4px 10px 8px 2px #e9e9e9;
    display: flex;
    align-items: center;
    color: #222;
    flex-direction: column;
    font-size: 1.1rem;
}

#settings-header {
    width: 50%;
    text-align: center;
}

#settings-header h2 {
    margin: 8px 0;
    padding: 0;
    padding-bottom: 4px;
    border-bottom: 2px solid #222;
}

#settings {
    flex-grow: 1;
}

#settings-buttons ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#settings-buttons li {
    float: left;
}

.settings-btn {
    padding: 8px;
    width: 100px;
    height: 20px;
    background-color: black;
    text-align: center;
    margin: 12px 8px;
    border-radius: 8px;
    font-weight: bold;
    color: #fafafa;
    cursor: pointer;
    background-color: #222;
    border: 2px solid #222;
}



#btn-cancel:hover {
    background-color: #fafafa;
    color: #1976D2;
    border: 2px solid #222;
    
}

#btn-save:hover {
    background-color: #fafafa;
    color: #388E3C;
    border: 2px solid #222;
}

#bookmarks {
   padding: 0 18px;
}

.card-container {  
    color: #222;
    border: 2px solid #e7e7e7;
    text-decoration: none;
    /* only for now */
    height: 200px;
    width: 200px;
    float: left;
    margin: 8px;
}

.card-image {
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px;
}

.card-title {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
