.newTabLayout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 32px 96px;
	background-color: var(--mantine-color-background-0);
	transition: background-color 1s ease;
	transition-delay: 0.1s;

	@media (max-width: $mantine-breakpoint-xl) {
		padding: 32px 64px;
	}
	
	@media (max-width: $mantine-breakpoint-md) {
		padding: 32px 48px;
	}
	
	@media (max-width: $mantine-breakpoint-sm) {
		padding: 32px 24px;
	}
}

.selectInputWrapper {
	font-size: 18px;
	padding-left: 8px;
	border-radius: 8px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-left: -8px;

	&:hover {
		background-color: var(--mantine-color-background-2);
	}
}

.selectInput {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

.selectDropdown {
	min-width: 210px !important;
	max-width: 210px !important;
	left: 0 !important;
	background-color: var(--mantine-color-background-0);
	border-color: var(--mantine-color-background-2);
}

.selectItem {
	&:hover, &:focus {
		background-color: var(--mantine-color-background-2);
	}
}

.oneViewCategoryHeadingContainer {
	display: flex;
	align-items: center;
	gap: 16px;
}

.oneViewCategoryHeadingLine {
	flex: 1;
	height: 1px;
	background-color: var(--mantine-color-background-2);
	min-width: 32px;
}

.oneViewCategoryHeading {
	margin-bottom: 0 !important;
	letter-spacing: 0.5px;
	white-space: nowrap;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 400px;
}

