.colorBox {
	width: 64px;
	height: 64px;
	border-radius: var(--mantine-radius-sm);
	border: 1px solid transparent;
	cursor: pointer;
}

.light {
	background-color: #ffffff;
	border-color: #e9ecef;

	&:hover {
		background-color: #e9ecef;
	}
}

.dark {
	background-color: #181818;
	border-color: #464646;

	&:hover {
		background-color: #464646;
	}
}

.active {
	border-color: var(--mantine-primary-color-6);
}

.customAdd {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--mantine-color-background-1);
	border-color: var(--mantine-color-background-2);
	color: var(--mantine-color-background-6);

	&:hover {
		background-color: var(--mantine-color-background-2);
	}
}
