.bookmarkCapsuleWrap {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	color: inherit;
	text-decoration: none;
	width: calc(var(--settings-capsule-size) * 1px + 44px);
}

.bookmarkCapsuleWrap:hover .faviconWrap {
	background-color: var(--mantine-color-background-2);
}

.faviconWrap {
	margin-bottom: 4px;
	height: calc(var(--settings-capsule-size) * 1px);
	width: calc(var(--settings-capsule-size) * 1px);
	background-color: var(--mantine-color-background-1);
	box-sizing: border-box;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.faviconWrapHeart {
	mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>');
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	border-radius: 0;
}

.capsuleLabel {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: calc(var(--settings-capsule-size) * 1px + 44px);
	width: 100%;
}
