@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

#home {
    min-height: 100vh;
    display: grid;
    padding: 0;
    margin: 0 1.5em;
    grid-template-columns: 1fr;
    grid-template-rows: 54vh 180px 1fr;
}

nav {
    margin: auto 0;
    margin-bottom: 32px;
}

#nav-header {
    border-top: 2px solid #474747;
    border-bottom: 2px solid #474747;
    padding: 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#nav-header h1 {
    font-size: 4.2em;
    margin: 0;
    line-height: 1.1em;
}

#nav-header h2 {
    font-size: 1.3em;
    margin: 0;
    margin-top: 8px;
    line-height: 1.1em;
    text-transform: lowercase;
    color: #696969;
}

#scroll-nav {
    z-index: 10;
    background-color: #f5f5f5;
    border-bottom: #d8d8d8;
    box-shadow: 0px 0px 6px #b6b6b6;
    width: 100vw;
    position: fixed;
    top: -3em;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    height: 3em;
    transition: top 0.3s;
    flex-wrap: wrap;
}

#scroll-nav #header {
    display: none;
}

#scroll-nav #mobile-content a {
    margin-top: 2px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    float: left;
    margin: 0 4px;
}

#scroll-nav #mobile-content a:hover {
    text-decoration: underline;
}

/* for index.html */

#get-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#get-buttons p {
    margin: 24px 0;
}

.get-btn {
    color: #222;
    text-decoration: none;
    padding: 0.6em 0.5em;
    margin: 8px;
    border: 2px solid #3e35c2;
    border-radius: 0.8em;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #3e35c2;
    color: #f5f5f5;
    box-shadow: 1px 1px 1px #424242;
}

.get-btn:hover {
    border: 2px solid #473dd6;
    background-color: #473dd6;
    color: #f5f5f5;
}

#features #about {
    font-size: 1.4rem;
    text-align: center;
    font-style: italic;
    margin-bottom: 32px;
}

#features-breakdown {
    margin-top: 92px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-gap: 21px;
    width: 100%;
    margin-bottom: 32px;
}

.feature-card {
    display: flex;
    justify-content: center;
    border-top: 2px solid #d8d8d8;
    padding-top: 21px;
    flex-direction: column;
    font-size: 1.2rem;
    height: auto;
}

.feature-card-title {
    font-weight: bold;
    font-size: 1.3rem;
}

.feature-card-details p{
    margin-top: 4px;
}

/* for faq.html */
#support {
    margin: 0;
    max-width: 98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#support h1 {
    text-align: center;
    font-size: 2.1rem;
}

#support h2 {
    font-size: 1.6rem;
    margin-bottom: 8px;
}

#support label:hover {
    text-decoration: underline;
}

#support li {
    border-bottom: 1px dotted #a8a8a8;
    padding: 6px;
}

#support p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    margin-top: 2px;
    margin-bottom: 8px;
}

#support p #browser {
    font-weight: 600;
}

#support p a{
    color: inherit;
    font-weight: 600;
}

#support input[type='checkbox'] {
    display: none;
}

#support .lbl-faq {
    font-size: 1.3rem;
    display: block;
    cursor: pointer;
    transition: all 0.25s ease-out;
    padding: 0 4px;
}

#support ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* creating that triangle on left */
#support .lbl-faq::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    margin-right: 8px;
}

/*hidden content via max-height */
#support .collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

/*displaying content via max-height */
#support .faq:checked + .lbl-faq + .collapsible-content {
    max-height: 350px;
}

#support .faq:checked + .lbl-faq {
    text-decoration: underline;
}

/* rotating traingle when content is displayed */
#support .faq:checked + .lbl-faq::before {
    transform: rotate(90deg) translateX(-3px);
}
  
#support .faq:checked + .lbl-faq {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#support #email-span {
    background-color: #3e35c2;
    color: #f5f5f5;
    font-size: 1.4rem;
    margin: 12px 0;
    padding: 8px 12px;
    display: inline-block;
}


/* for changelog.html */

#changelog {
    margin: 0 1.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#changelog h1 {
    margin-bottom: 0.4em;
    font-size: 2.1rem;
    text-transform: uppercase;
}

#changelog h2 {
    text-align: center;
    font-size: 1.6rem;
    margin: 0;
}

#changelog .changelog-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    /*border-top: 1px dotted #b6b6b6; for use when there will be more items in changelog*/
    padding: 16px;
}

#changelog .changelog-info {
    color: #696969;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 2px;
    display: flex;
    width: 100%;
}

#changelog .changelog-version {
    margin-left: auto;
}

#changelog .tag {
    border-radius: 4px;
    font-size: 0.8rem;
    border: 1px solid #474747;
    padding: 2px 4px;
    color: #f5f5f5;
    font-weight: 600;
    white-space: nowrap;
    display: inline-block;
    margin: 2px;
}

.tag-new {
    background-color: #3c5df3;
}

.tag-release {
    background-color: #38b849;
}

.tag-bug {
    background-color: #f3483c;
}

#changelog .changelog-tags {
    margin: 6px 0;
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#changelog .changelog-details {
    font-size: 1.1rem;
}

#changelog .changelog-details ul{
    margin: 0;
}

footer {
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #d8d8d8;
    width: 100%;
}


/* responsive for pc*/
@media (min-width: 992px) { 
    #home {
        grid-template-rows: 25vh 100px 1fr;
        margin: 0 5em;
    }

    #nav-header {
        border: none;
    }

    #features-breakdown {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-columns: minmax(min-content, auto);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
    }

    .feature-card {
        display: block;
        border: none;
    }

    #scroll-nav {
        justify-content: flex-start;
    }

    #scroll-nav #header {
        display: block;
    }

    #scroll-nav #header h1{
        cursor: pointer;
        margin: 0;
        padding: 0;
        padding-left: 2em;
    }

    #scroll-nav #mobile-content {
        margin-left: auto;
        padding-right: 2em;
    }

    #faq-container {
        margin: 0 5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2em;
        grid-auto-rows: auto;
        margin-bottom: 2em;
    }
}

@media (min-width: 1200px) {
    #features-breakdown {
        grid-template-columns: repeat(3, 326px);
    }

    #faq-container {
        grid-template-columns: repeat(2, 326px);
    }
}