@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.main-container {
    min-height: 100vh;
    display: grid;
    padding: 0;
    margin: 0 2em;
    grid-template-columns: 1fr;
    grid-template-rows: 54vh 180px 1fr;
}

nav {
    margin: auto 0;
    margin-bottom: 32px;
}

#nav-header {
    border-top: 2px solid #474747;
    border-bottom: 2px solid #474747;
    padding: 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#nav-header h1 {
    font-size: 4.2em;
    margin: 0;
    line-height: 1.1em;
}

#nav-header h2 {
    font-size: 1.3em;
    margin: 0;
    margin-top: 8px;
    line-height: 1.1em;
    text-transform: lowercase;
    color: #696969;
}

#get-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#get-buttons p {
    margin: 24px 0;
}

.get-btn {
    color: #222;
    text-decoration: none;
    padding: 0.6em 0.5em;
    margin: 8px;
    border: 2px solid #333;
    border-radius: 0.8em;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 1px 1px 1px #696969;
}

.get-btn:hover {
    background-color: #222;
    color: #f5f5f5;
}

#features #about {
    font-size: 1.4rem;
    text-align: center;
    font-style: italic;
    margin-bottom: 32px;
}

#features-breakdown {
    margin-top: 92px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-gap: 21px;
    width: 100%;
    margin-bottom: 32px;
}

.feature-card {
    display: flex;
    justify-content: center;
    border-top: 2px solid #d8d8d8;
    padding-top: 21px;
    flex-direction: column;
    font-size: 1.2rem;
    height: auto;
}

.feature-card-title {
    font-weight: bold;
    font-size: 1.3rem;
}

.feature-card-details p{
    margin-top: 4px;
}