#viewContent {
   padding: 5vh 2vw;
}

#listBox {
    width: 96vw;
    height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: monospace;
    display: flex;
    justify-content: center;
}

table.listTable {
    width: 82%;
    text-align: left;
    border-collapse: collapse;
    background-color: #fafafa;
    box-shadow: 1px 1px 10px 4px #e9e9e9;
}

table.listTable td, table.listTable th {
    border: 1px solid #b8b8b8;
    padding: 4px;
}

table.listTable td.tableFavi {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
}

table.listTable td.tableName {
    padding: 0 6px;
}