/* BASIC HTML STYLES */

html, body {
    padding: 0;
    margin: 0;
    background-color: #fcfcfc;
    font-family: 'Arial';
}

h1 {
    padding: 0;
    margin: 0;
}

/* WHOLE VIEW STYLES */

#simpleStartView {
    width: 100vw;
}

#viewContent {
    padding: 2vh 8vh;
}

/* HEADER STYLES */

#viewHeader {
    position: relative;
}

#tag1 {
    top: 42vh;
    left: 0;
    position: absolute;
    color: white;
    background-color: #303030;
    width: 4vh;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#tag2 {
    top: 46.3vh;
    left: 0;
    position: absolute;
    color: white;
    background-color: #303030;
    width: 4vh;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#tag3 {
    top: 50.6vh;
    left: 0;
    position: absolute;
    color: white;
    background-color: #303030;
    width: 4vh;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#userMenu {
    z-index: 90;
    top: 0.3vh;
    right: 0;
    position: absolute;
    color: white;
    background-color: #303030;
    width: 4vh;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px; 
}

#userUser {
    top: 4.6vh;
    right: 0;
    position: absolute;
    color: white;
    background-color: #303030;
    width: 4vh;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#viewHeader .feather {
    cursor: pointer;
}